# 220922 - W4 practice

In [1]:
import os
import sys
import pandas as pd

## 데이터 불러오기

In [2]:
df = pd.read_csv('data/earthquakes.csv')

In [3]:
df.shape

(9332, 26)

### Try loc and ilocfunction to select 3:10 items for mag, magType, and type variables.

In [4]:
df.loc[3:10, ['mag', 'magType', 'type']]

     mag magType        type
3   0.44      ml  earthquake
4   2.16      md  earthquake
5   2.61      md  earthquake
6   1.70      ml  earthquake
7   1.13      md  earthquake
8   0.92      md  earthquake
9   4.70      mb  earthquake
10  0.50      ml  earthquake

In [5]:
df.iloc[3:10, [8, 9, 21]]

    mag magType        type
3  0.44      ml  earthquake
4  2.16      md  earthquake
5  2.61      md  earthquake
6  1.70      ml  earthquake
7  1.13      md  earthquake
8  0.92      md  earthquake
9  4.70      mb  earthquake

### Try to find items of location Arizona

In [6]:
df.loc[df.place.str.contains('Arizona')]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
1062,NaN,NaN,60300227,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1666,NaN,163.0,",uu60300227,",1.23,ml,...,",uu,",reviewed,1539133978610,"M 1.2 - 7km SSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1539196068710,https://earthquake.usgs.gov/earthquakes/eventp...
3965,NaN,NaN,60298572,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.1577,NaN,211.0,",uu60298572,",0.94,md,...,",uu,",reviewed,1538383710020,"M 0.9 - 7km WSW of Colorado City, Arizona",0,earthquake,",geoserve,origin,phase-data,",-420.0,1538516934720,https://earthquake.usgs.gov/earthquakes/eventp...

### Try to find 10 largest items of mag variable

In [7]:
df.nlargest(n=10, columns='mag').mag

5263    7.5
837     7.0
118     6.7
4363    6.7
799     6.5
816     6.2
838     6.1
5323    6.1
862     6.0
1267    6.0
Name: mag, dtype: float64

### Try to delete alert variable

In [8]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [9]:
del df['alert']
df.columns

Index(['cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag', 'magType',
       'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources', 'status', 'time',
       'title', 'tsunami', 'type', 'types', 'tz', 'updated', 'url'],
      dtype='object')

### Try to pop mag and magType variables one at a time with name mag, and magType. (use .pop function)

In [10]:
mag = df.pop('mag')

In [11]:
mag

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [12]:
magType = df.pop('magType')

In [13]:
magType

0       ml
1       ml
2       ml
3       ml
4       md
        ..
9327    md
9328    ml
9329    md
9330    ml
9331    ml
Name: magType, Length: 9332, dtype: object

### Concatenate mag and magType variables and define a new DataFrame using .concat function

In [17]:
mag.shape

(9332,)

In [18]:
magType.shape

(9332,)

In [19]:
new_df = pd.DataFrame(pd.concat([mag, magType], axis=1))
new_df

       mag magType
0     1.35      ml
1     1.29      ml
2     3.42      ml
3     0.44      ml
4     2.16      md
...    ...     ...
9327  0.62      md
9328  1.00      ml
9329  2.40      md
9330  1.10      ml
9331  0.66      ml

[9332 rows x 2 columns]